{% extends 'base.html' %}
<head>

{% block title %}Нүүр{% endblock title %}

</head>

<body>
{% block content %}
{% if user.is_authenticated %}
<p>hi {{user.username}} :></p>
<p><a href = "{% url 'logout' %}">LOGOUT</a></p>

{% else %}
<p><a href = "{% url 'newtreh' %}">LOGIN</a></p>

{% endif %}
    <div>
        <h1> hi </h1>
    </div>

{% for post in object_list %}
<a href = "{% url 'detail' post.pk %}"" ><h1>{{post.title}}</h1></a>
<h3>{{post.body | safe}}</h3>
{% endfor %}

{% endblock content %}

</body>